*{
    margin: 0px;
    padding: 0px;
}
body {
    color: rgb(255, 255, 255);
    background-color: rgb(245, 239, 239);
    text-decoration:none;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size: 25px;

}

header {
    padding: 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(19, 131, 19, 0.952);
    margin: 0px;
}

a {
    text-decoration:none;
    color: black;
    
}

.but {
    background-color: #e7e7e7;
    cursor: pointer;
}

button {
    border-radius: 30px;
    background-color: #e7e7e7;
    font-size: 15px;
    padding: 18px 35px;
    border: none;
    font-family:'Poppins', sans-serif;

}

h2 {
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: black;

}

.link{
        
        color: rgb(255, 255, 255);
        text-align:center;
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        
}

img {
        height: 330px;
        width: 25%;
        border-radius: 8px;

}

footer {

    padding: 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(19, 131, 19, 0.952);

}

.Volte {
    color: #e7e7e7;
}

.tex {
    color: black;
}

h4{
    color: black;
    font-family:'Poppins', sans-serif;   
    text-align: center;
    padding: 10%;
    font-size:x-large
}

.di{
    margin: 5px;
}